# Node
node_modules/
dist/

# Solana / Anchor
.anchor/
target/
test-ledger/
**/*.so

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
programs/**/keypair.json
.env
