PORT=3001
RPC_URL=https://api.devnet.solana.com
OPERATOR_KEYPAIR=~/.config/solana/id.json
API_KEY=your-api-key-here
VIEX_TREASURY_PROGRAM_ID=3rzgKqvEkhJiWivtTNg5WjSkFi8T4pNaQECWCssc8pAU
VIEX_TRANSFER_HOOK_PROGRAM_ID=4Zmj6AtwQ615LnzWnaoXmBVTzQHvTd7jyD1GefZCMSwY
